[Unit]
Description=Ninjam Service
After=network.target multi-user.target

[Service]
Type=simple
User=ninjam
ExecStart=ninjamsrv /etc/ninjam/ninjam.cfg
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
